<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="common :: head"></div>
</head>

<body class="min-vh-100 d-flex flex-column">
<div th:replace="common :: nav"></div>

<div class="container-fluid mt-2 mb-2">
  <div class="row mb-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form method="post" th:action="@{|/tripulante/documentacion-update|}" th:object="${documentacion}">
        <div class="mb-3 col-md-6">
          <label class="form-label" for="id"></label>
          <input class="form-control" id="id" disabled required type="hidden" th:field="*{id}" th:value="${id}"/>
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="fechaDeCreacion">Fecha de creacion</label>
          <input class="form-control" id="fechaDeCreacion" required type="date" th:field="*{fechaDeCreacion}" th:value="${fechaDeCreacion}"/>
        </div>

        <div class="mb-3 col-md-6">
        <label for="tipoDocumentaciones">Tipo de documentacion</label>
        <select tabindex="13" id="tipoDocumentaciones" class="form-select" aria-label="tipoDocumentaciones" th:field="*{tipoDocumentacion}" required>
          <option th:value="0">Seleccioná un tipo</option>
          <option th:each="tipoDocumentacion : ${tipoDocumentaciones}"
                  th:value="${tipoDocumentacion}"
                  th:text="${tipoDocumentacion}">
          </option>
        </select>
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label" for="titulo">Titulo</label>
          <input class="form-control" id="titulo" required type="text" th:field="*{titulo}" th:value="${titulo}"/>
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label" for="fechaDeVencimiento">Fecha de vencimiento</label>
          <input class="form-control" id="fechaDeVencimiento" required type="date" th:field="*{fechaDeVencimiento}" th:value="${fechaDeVencimiento}"/>
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label" for="comentario">Comentario</label>
          <input class="form-control" id="comentario" required type="text" th:field="*{comentario}" th:value="${comentario}"/>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="'#modificarDocumentacionModal'">
          Modificar Documentacion
        </button>
        <!-- Modal -->
        <div class="modal fade text-start" th:id="modificarDocumentacionModal" tabindex="-1" th:aria-labelledby="modificarDocumentacionModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Documentacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ¿Estás seguro que deseás modificar los datos de esta documentacion? <br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <input class="btn btn-success" type="submit" value="Modificar">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>

</div>
<div th:replace="common :: foot"></div>
</body>
</html>
