<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Documentación</title>
    <div th:replace="common :: head"></div>
</head>

<body class="min-vh-100 d-flex flex-column">
<div th:replace="common :: nav"></div>

<div class="container-fluid mt-2 mb-2">

    <span sec:authorize="hasRole('ROLE_LIDER')">
        <div th:replace="common :: mistripulantes"></div>
    </span>

    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2><i class="bi bi-book-half me-2 fly-color"></i>Documentación</h2>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <a class="btn btn-warning" th:href="@{/documentacion/nueva-documentacion}">
                            <span style="font-size: 14px;">Registrar documentación</span>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 table-responsive-xl">

                            <table class="table table-bordered table-striped " >
                                <thead>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Título</th>
                                    <th>Fecha de Creación</th>
                                    <th>Fecha de Vencimiento</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:if="${documentaciones.empty}">
                                    <td colspan="15">No hay documentaciones registradas</td>
                                </tr>
                                <tr class="text-center" th:each="doc : ${documentaciones}" th:unless="${documentaciones.size()==0}">
                                    <td th:text="${doc.id}"></td>
                                    <td th:text="${doc.titulo}"></td>
                                    <td th:text="${#temporals.format(doc.fechaDeCreacion,'dd-MM-yyyy')}"></td>
                                    <td th:text="${#temporals.format(doc.fechaDeVencimiento,'dd-MM-yyyy')}"></td>
                                    <td>

                                        <a type="button" class="btn btn-warning mx-1 my-1" title="Editar documentación" th:classappend="${doc.user.id != user.id} ? 'disabled'" th:href="@{|/documentacion/editar/${doc.id}|}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </a>

                                        <a type="button" class="btn btn-warning mx-1 my-1 deleteBtn" title="Eliminar documentación" th:classappend="${doc.user.id != user.id} ? 'disabled'" th:href="@{|/documentacion/borrar-documentacion/${doc.id}|}" onclick="return confirm('¿Está seguro que desea eliminar la documentación?');">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd"
                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>

                                        <a type="button" class="btn btn-warning mx-1 my-1" th:classappend="${doc.user.lider.id != user.lider.id} ? 'disabled'" th:href="@{|/documentacion/ver/${doc.id}|}" title="Ver documentación" >
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                  class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                 <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                 <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                             </svg>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div th:replace="common :: foot"></div>
</body>
</html>
