<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="common :: head"></div>
</head>

<body class="min-vh-100 d-flex flex-column">
<div th:replace="common :: nav"></div>

<div class="container-fluid mt-2 mb-2">

  <div class="row mb-5">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="margin-top: 1rem; margin-bottom: 1rem">
      <h2><i class="fs-2 bi bi-book-half me-2 fly-color"></i> <a class="breadcrumbs" th:href="@{|/home|}">Home </a> >
        <span

        >Noticias</span>
      </h2>
    </div>
    <div class="col-md-1"></div>


    <div class="row">
      <div class="col-md-1"></div>
    </div>

    <!--Noticias-->
    <div class="row mt-3 mb-3">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row mt-1">
          <div class="col-md-12">
            <form method="get" th:action="@{/admin/mostrar-noticias}">
              <div class="row">
                <div class="col-5 col-md-7 d-flex flex-column flex-md-row gap-4">
                  <div class="d-flex gap-1">
                    <label for="selectCantidadRegistros"
                           class="form-label col-form-label">Registros</label>

                    <select id="selectCantidadRegistros" name="recordsQuantity"
                            class="form-select select-100px"
                            aria-label="Cantidad de registros por página">
                      <option th:each="cantidad : ${cantidadDeRegitrosPorPaginas}"
                              th:value="${cantidad}" th:text="${cantidad}"
                              th:selected="${cantidad} == ${recordsQuantity}"></option>
                    </select>
                  </div>

                  <div class="d-flex gap-1">
                    <label for="selectOrientation" class="form-label col-form-label">Orientación</label>
                    <select id="selectOrientation" name="sortOrientation"
                            class="form-select select-100px" aria-label="Orientación">
                      <option th:each="so : ${sortOrientations}" th:value="${so}"
                              th:text="${so}" th:selected="${so} == ${orientation}"></option>
                    </select>
                  </div>


                  <div>
                    <button type="submit" class="btn btn-warning">
                      Aplicar
                    </button>
                  </div>
                </div>

                <div class="col-md-5 mt-4 mt-md-0 text-md-end">
                  <a class="btn btn-warning" th:href="@{/admin/crear-noticia}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                         fill="currentColor"
                         class="bi bi-send" viewBox="0 0 16 16">
                      <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                    </svg>
                    Registrar noticia
                  </a>
                </div>
              </div>
            </form>

            <div class="row mt-3">
              <div class="col-md-12 table-responsive-xl">

                <table class="table table-bordered table-striped">
                  <thead>
                  <tr class="text-center">
                    <th>Id</th>
                    <th>Titulo</th>
                    <th sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Autor</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr th:if="${noticias.empty}">
                    <td colspan="15">No hay noticias registradas</td>
                  </tr>
                  <tr class="text-center" style="height: 100px" th:unless="${noticias.size()==0}"
                      th:each="noticia : ${noticias}">
                    <td th:text="${noticia.id}"></td>
                    <td class="text-lowercase" th:text="${#strings.abbreviate(noticia.titulo,100)}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')" th:text="${noticia.autor.nombre + ' ' + noticia.autor.apellido}"></td>
                    <td th:text="${noticia.fecha}"></td>

                    <td class="d-flex flex-column align-items-center" style="min-height:100px; max-height: 600px;">
                      <div class="d-flex flex-column flex-md-row gap-1" >
                        <a type="button" class="btn btn-warning" title="Editar noticia"
                           th:href="@{|/admin/noticia/editar/${noticia.id}|}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                               fill="currentColor"
                               class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg>
                        </a>

                        <a type="button" class="btn btn-warning " title="Ver noticia"
                           th:href="@{|/noticia/${noticia.id}|}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                               fill="currentColor"
                               class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                          </svg>
                        </a>

                        <a type="button" class="btn btn-warning deleteBtn"
                           title="Eliminar noticia"
                           th:href="@{|/admin/noticia/eliminar/${noticia.id}|}"
                           onclick="return confirm('¿Realmente desea eliminar esta noticia?');">
                          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                               fill="currentColor"
                               class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </a>
                      </div>

                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <nav aria-label="Pagination">
                      <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                          <a class="page-link"
                             th:href="@{|/admin/mostrar-noticias?page=${prev}&recordsQuantity=${recordsQuantity}&sortField=${sortField}&sortOrientation=${orientation}|}">Anterior</a>
                        </li>
                        <li class="page-item" th:each="page : ${pages}"
                            th:classappend="${current == page ? 'active': ''}">
                          <a class="page-link bg-warning border-0 text-dark"
                             th:href="@{|/admin/mostrar-noticias?page=${page}&recordsQuantity=${recordsQuantity}&sortField=${sortField}&sortOrientation=${orientation}|}"
                             th:text="${page}"></a>
                        </li>
                        <li class="page-item"
                            th:classappend="${current == last ? 'disabled': ''}">
                          <a class="page-link"
                             th:href="@{|/admin/mostrar-noticias?page=${next}&recordsQuantity=${recordsQuantity}&sortField=${sortField}&sortOrientation=${orientation}|}">Siguiente</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <!--FIN noticias-->


  </div>
</div>

<div th:replace="common :: foot"></div>
</body>
</html>
