<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="common :: head"></div>
</head>

<body class="min-vh-100 d-flex flex-column">
<div th:replace="common :: nav"></div>

<div id="result">
  <div class="container-fluid mt-2 mb-2">
    <div class="row mb-5">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h2><i class="bi bi-book-half me-2 fly-color"></i>Detalle de la documentación</h2>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-1"></div>
      <div class="col-md-10" style="display: flex; justify-content: space-between">
        <a class="btn btn-warning" th:href="@{/tripulante/midocumentacion}">
          Volver
        </a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-1"></div>
      <div class="col-md-10" style="display: flex; justify-content: start">
      </div>
      <div class="col-md-1"></div>
    </div>


    <div class="row mb-5">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div style="column-gap: 30px;">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Título</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${documentacion.titulo}"></td>
            </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Fecha de Creación</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${documentacion.fechaDeCreacion}"></td>
            </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Fecha de Vencimiento</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${documentacion.fechaDeVencimiento}"></td>
            </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Comentario</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${documentacion.comentario}"></td>
            </tr>
            </tbody>
          </table>
          <table class="table">
          <thead>
          <tr>
            <th scope="col">Archivo adjunto</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="a:${adj}">
            <td th:text="${a.nombre}"/>
            <td>
              <a type="button" class="btn btn-warning mx-1 my-1 downloadBtn" title="Descargar archivo" download th:href="@{${a.path}}" onclick="return confirm('¿Está seguro que desea descargar el archivo adjunto?');">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                     class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                  <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
              </a>
            <!--
            <td>
              <a type="button" class="btn btn-warning mx-1 my-1 downloadBtn" title="Descargar archivo" th:href="@{'/download/'+${a.id}}" onclick="return confirm('¿Está seguro que desea descargar el archivo adjunto?');">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                     class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                  <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
              </a>-->
              <span th:if="${a.extension == 'pdf'}">
                <a type="button" class="btn btn-warning mx-1 my-1 adjuntoBtn" title="Ver archivo adjunto" th:href="@{${a.path}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                  </svg>
              </a>
                </span>
            </td>
          </tr>
          </tbody>
        </table>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Desactivar notificacion</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <!-- Button trigger modal -->
                <button th:if="${documentacion.notificacionActivada}" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Desactivar Notificacion
                </button>

                <!-- Button trigger modal -->
                <button th:if="${!documentacion.notificacionActivada}" type="button" class="btn btn-warning" disabled data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Desactivar Notificacion
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Desactivar Notificacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que desea desactivar las notificaciones?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a th:href="@{|/documentacion/desactivar-notificacion/${documentacion.id}|}" type="button" class="btn btn-warning">Confirmar</a>
      </div>
    </div>
  </div>
</div>
<div th:replace="common :: foot"></div>
</body>
</html>